.process-section {
  padding-top: 72px;
  padding-bottom: 113px;
  background-color: rgba(27, 6, 37, 1);
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.process-section h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.process-section ul {
  display: flex;
  justify-content: center;
  gap: 42px;
}

.process-section li {
  border: 4px solid rgba(49, 186, 208, 1);
  border-radius: 18px;
  padding-top: 46px;
  padding-bottom: 95px;
  padding-left: 64px;
  padding-right: 64px;
  align-items: center;
  text-align: center;
}

.process-section div {
  position: relative;
}

.process-section li div img:nth-of-type(1) {
  margin: auto;
}

.process-section li div img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.process-section h4 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 23px;
}

.process-section p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 34px;
  letter-spacing: 1px;
}

.process-section button {
  padding: 12px 31px 13px 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: rgba(27, 6, 37, 1);
  background-color: rgba(49, 186, 208, 1);
  border-radius: 50px;
  margin-top: 65px;

   box-shadow: 0 0 20px rgba(29, 126, 148, 1);
}

.blur {
  position: absolute;
  top: 460px; /* Прибиваем к верхнему краю */
  left: 0; /* Прибиваем к левому краю */
}

.circle-process {
  position: absolute;
  bottom: -109px;
  left: 15px;
}

.thombus-process {
  position: absolute;
  bottom: 54px;
  right: 111px;
}
