.scroll-partners-container {
  padding-top: 19px;
  padding-bottom: 19px; 
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  gap: 60px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  scroll-behavior: smooth;
  white-space: nowrap;
  cursor: pointer;
  overflow-x: hidden;
}


.scroll-partners-container img {
  transition: transform 0.4s ease;
}

.scroll-partners-container img:hover {
 transform: scale(1.2);
}