.scroll-container {
  padding-top: 28px;
  padding-bottom: 42px;
  background-color: rgba(0, 0, 0, 1);

  display: flex;
  gap: 60px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-x: hidden;
}

.scroll-container img{
  transition: transform 0.4s ease;
}

.scroll-container img:hover {
  transform: scale(1.2);
}
